th, tr, td {
    border: 1px solid;
    padding: 0 10px;
}

.container {
    /* padding-top: 50px; */
    word-break: break-word;
}

.post-header {
    padding: 10px;
}

.post-summary {
    margin: 5px;
}

.single h2 {
    padding-top: 50px;
    padding-bottom: 25px;
}

.single h3 {
    padding-top: 25px;
    padding-bottom: 10px;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
}

#search {
    display: flex;
    justify-content: center;
}

#search > input {
    width: 33%;
    text-align: center;
    border: black 1px solid;
    background-color: #f5f5f5;
    color: black;
}

#search-results article {
    margin: 24px 0;
}

@media screen and (max-width:600px) {
    .container {
        width: 100%;
    }

    .container.list {
        padding: 0 20px;
    }

    .container.single {
        padding: 0 10px;
    }
    
    .breadcrumb li {
        display: block;
    }

    .post-header {
        min-height: 25px;
        margin-bottom: 10px;
        padding: 5px;
    }

    #search > input {
        width: 90%;
    }
}