.home[data-home=posts] .home-avatar img {
    width: 12rem;
  }

.single .post-meta .author {
  font-size: .875rem;
}

span.post-author > a > i{
  margin-right: 0.1em;
}
span.post-category > a > i {
  margin-right: 0.2em;
}

.single .content hr {
  border-top: 1px solid #2d96bd;
}

.post-tags a {
  display: inline-block !important;
}

#TableOfContents {
  overflow-y: scroll;
  max-height: 500px;
}

.single .content img {
  height: auto;
}