$global-link-hover-color: #14852e;
$selection-color: rgba(63, 247, 53, 0.25);
$single-link-color: #1baa3c;
$single-link-hover-color: #ffae00;
$blockquote-color: #1baa3c;
$pagination-link-color: #1baa3c;

$global-link-hover-color-dark: #fff;
$selection-color-dark: rgba(64, 194, 50, 0.4);
$single-link-color-dark: #14852e;
$single-link-hover-color-dark: #bdfcc0;
$blockquote-color-dark: #1baa3c;
$pagination-link-color-dark: #a9a9b3;

.page.archive {
    max-width: 1200px;
}
.categories-card .card-item {
    width: 33% !important;
    padding: 0 !important;
}
@media only screen and (max-width: 680px) {
    .page .categories-card .card-item, .page .author-card .card-item, .page .series-card .card-item {
        width: 100% !important;
    }
}
.categories-card .archive-item {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}