p, #post-content li {
  font-size: 0.8rem;
}
#about p {
  font-size: 0.9rem;
}
h1 {
  font-size: 2rem;
}
h5 {
  font-size: 1.1rem;
}
.btn {
  font-size: 0.9rem;
}
pre code {
  font-size: 0.8rem;
}
.nav-item {
  line-height: 2em;
}
table tbody tr {
  height: auto !important;
}
table {
  margin-bottom: 1rem;
}
tr, td {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

.home img {
    width: 200px;
    height: 200px;
}
// h1.greeting {
//   display: none;
// }
.home .background {
  transform: scale(1.0);
  filter: blur(0px);
}

// #disclaimer strong {
//   display: none;
// }

.top-navbar #top-navbar-divider {
  height: 30px;
  width: 1.5px;
}
@media screen and (max-width: 1200px) {
  #top-nav-items {
    padding-left: 0;
  }
  .top-navbar #top-navbar-divider {
    // height: 1.5px;
    // width: auto;
    display: none;
  }
}

// #about .col-sm-6:first-of-type {
//   width: 80%;
// }
// #about .col-sm-6:last-of-type {
//   width: 20%;
// }

.sidebar-section {
    max-width: 100%;
}
#TableOfContents {
  max-height: 80vh;
}

// .card .card-head {
//     height: auto !important;
//     display: none;
// }
// .card .card-body {
//     max-height: 300px;
//     overflow: scroll;
// }
.card .card-body .tags {
    max-height: 200px;
    overflow-y: auto;
}
.card .card-body .tags .btn-info {
    font-size: 1.4em;
}

// #note-card-holder .note-card {
//   max-width: 33%;
// }
// #note-card-holder .note-card .card, #note-card-holder .note-card .card-body {
//   max-height: 300px;
//   overflow: auto;
// }
// code {
//   font-size: 8px;
//   text-wrap: wrap;
// }

.cert, iframe {
  display: inline-block;
}
.cert-img-quarter {
  width: 24%;
}
.cert-img-third {
  width: 32%;
}
.cert-img-half {
  width: 49%;
}
.cert-img-CISA {
  width: 125px;
}
@media screen and (max-width: 600px) {
  .cert-img-quarter, .cert-img-third, .cert-img-CISA {
    width: 49%;
  }
  .cert-img-third {
    width: 49%;
  }
  .cert-img-half {
    width: 100%;
  }
}

.btn-improve-page {
  display: none;
}

body.kind-404 .notFound .message {
  position: inherit;
  max-width: 100%;
}
body.kind-404 .notFound {
  padding-top: 10rem;
}

// .home .background {
//     height: 50%;
// }

// $global-link-hover-color: #14852e;
// $selection-color: rgba(63, 247, 53, 0.25);
// $single-link-color: #1baa3c;
// $single-link-hover-color: #ffae00;
// $blockquote-color: #1baa3c;
// $pagination-link-color: #1baa3c;

// $global-link-hover-color-dark: #fff;
// $selection-color-dark: rgba(64, 194, 50, 0.4);
// $single-link-color-dark: #14852e;
// $single-link-hover-color-dark: #bdfcc0;
// $blockquote-color-dark: #1baa3c;
// $pagination-link-color-dark: #a9a9b3;

// .page.archive {
//     max-width: 1200px;
// }
// .categories-card .card-item {
//     width: 33% !important;
//     padding: 0 !important;
// }
// @media only screen and (max-width: 680px) {
//     .page .categories-card .card-item, .page .author-card .card-item, .page .series-card .card-item {
//         width: 100% !important;
//     }
// }
// .categories-card .archive-item {
//     white-space: nowrap !important;
//     overflow: hidden !important;
//     text-overflow: ellipsis !important;
// }