@use 'sass:map';

$breakpoints: (
  tiny: 320px,
  small: 640px,
  medium: 768px,
  large: 1024px,
  very-large: 1280px,
  extra-large: 1536px,
  ultra-large: 2560px,
);

// Color are chosen from TailwindCSS color scheme
// https://tailwindcss.com/docs/customizing-colors

// transitions
$transition-duration: 0.3s;
$transition-type: ease-out;

// borders and shadows
$box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);

// themes
$themes: (
  'light': (
    'accent-color': #1baa3c,
    'hover-over-accent-color': #ffae00,
    'text-over-accent-color': #e4e7e4,
    'bg-primary': #f8fcf8,
    'bg-primary-inverse': #102a0f,
    'bg-secondary': #d7e2d7,
    'bg-card': #fff,
    'heading-color': #1d2f1c,
    'text-color': #1d2f1c,
    'inverse-text-color': #cbe1cc,
    'muted-text-color': #689865,
    'inline-code-color': #dc2626,
    'highlight-color': #fde68a,
    'footer-color': #0f2a0f,
  ),
  'dark': (
    'accent-color': #2d6c2a,
    'hover-over-accent-color': #1a851a,
    'text-over-accent-color': #e4e4e7,
    'bg-primary': #2d3c2d,
    'bg-primary-inverse': #162d16,
    'bg-secondary': #161f17,
    'bg-card': #274027,
    'heading-color': #f1f9f1,
    'text-color': #cce1cb,
    'inverse-text-color': #122a0f,
    'muted-text-color': #678b64,
    'inline-code-color': #dc2626,
    'highlight-color': #fde68a,
    'footer-color': #071108,
  ),
);

$brand-colors: (
  'facebook': #3b5998,
  'twitter': #1da1f2,
  'linkedin': #0077b5,
  'reddit': #ff4500,
  'tumblr': #35465c,
  'pocket': #ef4056,
  'diaspora': #1e1e1e,
  'whatsapp': #25d366,
);

$alerts: (
  'success': (
    // green 100
    'bg-color': #dcfce7,
    // green 800
    'text-color': #166534,
  ),
  'info': (
    // sky 100
    'bg-color': #e0f2fe,
    // sky 800
    'text-color': #075985,
  ),
  'warning': (
    // yellow 100
    'bg-color': #fef9c3,
    // yellow 800
    'text-color': #854d0e,
  ),
  'danger': (
    // red 100
    'bg-color': #fee2e2,
    // red 800
    'text-color': #991b1b,
  ),
);